*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

:root {
    --bg-color: #F9F9FB;
    --crl: #222327;
    --accent: #395BC7;
    --light: #d8dbe0;
    --dark: #28292c;
}

.dark-mode {
    --bg-color: #18191A;
    --crl: #E4E6EB;
    --accent: #4C6EF5;
}

body {
    background-color: var(--bg-color);
    color: var(--crl);
    transition: background-color 0.3s, color 0.3s;
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;

} */

.navigation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 70px;
    background: var(--crl) ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.navigation ion-icon {
    color: var(--bg-color);
}


.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--crl);
}

.navigation ul li.active a .icon{
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute;
    color: var(--bg-color);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);

}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--accent);
    border-radius: 50%;
    /* Suppression de la bordure */
    border: none;
    /* Ajout d'un ombrage pour un effet plus naturel */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.indicator::before,
.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    box-shadow: none; /* Suppression de l'ombre qui cause le problème */
}



.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));

}

.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));

}

.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));

}

.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));

}

.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));

}

section{
    /*border: 2px #395BC7 solid;*/
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}


#Home{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}

.toggle-switch {
    display: none;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 100px;
    height: 50px;
    z-index: 5;
    /* background-color: red; */
    /* display: none; */
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    transform: translateX(50px);
    background-color: var(--dark);
    box-shadow: none;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.presentation {
    font-family: monospace;
    font-size: 6em;
    text-align: center;
    z-index: 2; 
    /* background-color: red; */
}

.typing {
    position: relative;
    color: var(--accent);
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}

.typing::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 2px solid #4F46E5;
    animation: blink 0.8s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#mq{
    color: var(--accent) ;
    font-family: monospace;
    font-style: italic;
    font-weight: bold;
}



#About{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);

}
#About h1{
    display:flex;
    justify-content: flex-start;
    padding: 10px 50px 25px 50px;
    font-family: monospace;
    font-style: oblique;
    font-size: 3rem;
    width: auto;
}

#me{
    padding-left: 08px;
}

.about-core{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: -70px;

}

.name{
    color: var(--crl);
    font-family: monospace;
    width: auto;
    padding: 40px 40px 10px 0px ;
}


.about-img img {
    height: 600px;
    width: 400px;
    margin-top: -80px;

}


.text-about{

    padding: 20px;
    color: var(--crl);
    font-family: monospace;
    font-size: 2em;  
    width: 50%;

}

.contact{
    /* background-color: yellow; */
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;
    margin-top: -115px;
    margin-left: -380px;
}



.social #linkedin svg{
    height: auto;
    width: 70px;
    animation-name: floating-linkedin;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-linkedin {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

.social #github svg{
    height: auto;
    width: 70px;
    color: var(--crl);
    animation-name: floating-github;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-github {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

.social #cv img{
    height: auto;
    width: 70px;
    animation-name: floating-cv;
    animation-delay: 2s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-cv {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 10px); }
    to   { transform: translate(0, -0px); }    
}

.cta{
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 60%;
    padding: 15px;
    margin: 20px;
    background-color: var(--accent);
    border-radius: 25px;
    transition: all 0.3s ease;
    /* transition: transform 0.3s ease-in-out; */
}

.cta a{
    color: var(--bg-color);
    text-decoration: none;
}

.cta:hover{
    /* transform: scale(1.05); */
    cursor: pointer;
    border-color: #E0E0E0;
    box-shadow: 0 0 10px #E0E0E0, 0 0 20px #E0E0E0, 0 0 30px #E0E0E0;
}


#project{
    /*width: 100vw;
    height: 100vh;*/
    padding-bottom: 80px;
    background-color: var(--bg-color);


}

#project h1{
    display:flex;
    justify-content: flex-start;
    padding: 10px 50px 25px 50px;
    font-family: monospace;
    font-style: oblique;
    font-size: 3rem;
    width: auto;

}

.project{
    display: flex;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    
}
.card {
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    border: 5px solid var(--bg-color);
    border-radius: 35px;
    color: var(--crl);
    /* padding: 10px;   */
}
.card:hover {
    transform: translateY(-10px);
}
.card #miniature {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
    padding: 10px;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-family: monospace;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card-description {
    font-size: 1em;
    color: var(--crl);
    margin-bottom: 20px;
}
.card-button {
    background-color: var(--accent);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card-button:hover {
    background-color: #1f70c7; /*Ou noir*/
}

.card-button a{
    text-decoration: none;
    color: #fff;
}

.card-technologies {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.card-technologies img{
    width: auto;
    height: 30px;
}


#Skills{
    width: 100vw;
    height: 100vh;
    /* display: none; */
    /* margin: 0px 0px 50px 0px; */

    
}

#Skills h1{
    display:flex;
    justify-content: flex-start;
    padding: 10px 50px 25px 50px;
    font-family: monospace;
    font-style: oblique;
    font-size: 3rem;
    width: auto;
    /* border: 2px red solid; */
}

.competence {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 20px 20px 20px;
    /* margin: 0px 0px 50px 0px; */
}

.grid-icon {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: var(--bg-color); /*Fond uniforme au site ou fond blanc*/
    border-radius: 25px;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card-icon:hover {
    transform: scale(1.05);
}

.card-icon img {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.certification {
    width: 50%;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    color: var(--crl);
}

.certification h2 {
    font-family: monospace;
    font-style: oblique;
    font-size: 3.5em;
    padding: 20px;
    /* padding-left: 20px; */
    color: var(--crl);
}

.titre-certif{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.autorotate{
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 90px;
    background-color: var(--bg-color);
    border-radius: 50%;
    animation: autoRotateAnimation;
    animation-timeline: view();
}

@keyframes autoRotateAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}

.list-certification{
    font-family: monospace;
    font-size: 1.6em;
    padding: 20px;
}

.list-certification li{
    margin: 10px;
}

.list-certification img{
    width: 150px;
    height: 150px;
    padding: 20px;
    margin-top: 40px;
}
.list-certification a{
    text-decoration: none;
    color: var(--crl);
}
.icon-certification{
    display: flex;
    flex-direction: row;
}



#veille-tech{
    height: 100vh;
    width: 100vw;
    margin: 60px 0px 0px 0px;
    /* background: linear-gradient(to right,#F2C94C, var(--accent));     */
    /* margin-top: 50px;
    margin-bottom: 55px;   */
}

#veille-tech h1{
    display:flex;
    justify-content: flex-start;
    padding: 40px 40px 25px 50px;
    font-family: monospace;
    font-style: oblique;
    font-size: 3rem;
    width: auto;
}

.veille-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.veille-container hr{
    width: 80%;
    border: 1px solid var(--crl);
}

.veille-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    cursor: pointer;
}

.veille-card a {
    text-decoration: none;
}

.veille-img img{
    height: 200px;
    width: 200px;
    border-radius: 25px;
}

/* .veille-content{
    min-width: 300px;
    flex-grow: 1;

} */

.veille-content h2{
    font-family: monospace;
    font-size: 2em;
    color: var(--crl);
}

.veille-content p{
    font-family: monospace;
    font-size: 1.5em;
    color: var(--crl);
}


